# Ignore node_modules directory as it will be installed in the Docker image
node_modules

# Ignore logs
npm-debug.log
*.log

# Ignore Dockerfile and .dockerignore themselves
Dockerfile
.dockerignore

# Ignore environment variables files for security
.env

# Ignore local development files
.DS_Store
